<main class="container">
  <section>
    <div class="d-flex flex-row flex-wrap justify-content-center">


		
		<ul class="nav nav-tabs" id="lideresEquipos" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="equipos-tab" data-toggle="tab" href="#equipos" role="tab" aria-controls="equipos" aria-selected="true">Equipos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="fridas-tab" data-toggle="tab" href="#fridas" role="tab" aria-controls="fridas" aria-selected="false">Fridas</a>
		  </li>
		</ul>

		<div class="tab-content" id="lideresEquiposContenido">
		  <div class="tab-pane fade show active" id="equipos" role="tabpanel" aria-labelledby="equipos-tab">
	    	<h1 class="my-4">Equipos</h1>
	    	
	    	<div class="col-12">
	    		<div class="row">

	    			<div class="col-md-6 mb-4">
	    				<div class="card">
	    					<div class="card-body">
	    						<h4 class="card-title">Equipo 1</h4>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>

	    						<h6 class="card-subtitle mb-3">Avance</h6>
	    						<div class="progress">
									  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
									</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="col-md-6 mb-4">
	    				<div class="card">
	    					<div class="card-body">
	    						<h4 class="card-title">Equipo 2</h4>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>

	    						<h6 class="card-subtitle mb-3">Avance</h6>
	    						<div class="progress">
									  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
									</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="col-md-6 mb-4">
	    				<div class="card">
	    					<div class="card-body">
	    						<h4 class="card-title">Equipo 3</h4>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>

	    						<h6 class="card-subtitle mb-3">Avance</h6>
	    						<div class="progress">
									  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
									</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="col-md-6 mb-4">
	    				<div class="card">
	    					<div class="card-body">
	    						<h4 class="card-title">Equipo 4</h4>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>

	    						<h6 class="card-subtitle mb-3">Avance</h6>
	    						<div class="progress">
									  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
									</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="col-md-6 mb-4">
	    				<div class="card">
	    					<div class="card-body">
	    						<h4 class="card-title">Equipo 5</h4>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>

	    						<h6 class="card-subtitle mb-3">Avance</h6>
	    						<div class="progress">
									  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
									</div>
	    					</div>
	    				</div>
	    			</div>
	    			<div class="col-md-6 mb-4">
	    				<div class="card">
	    					<div class="card-body">
	    						<h4 class="card-title">Equipo 6</h4>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>
	    						<p>Integrante 1</p>

	    						<h6 class="card-subtitle mb-3">Avance</h6>
	    						<div class="progress">
									  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
									</div>
	    					</div>
	    				</div>
	    			</div>

	    		</div>
	    	</div>
			</div>

		  <div class="tab-pane fade" id="fridas" role="tabpanel" aria-labelledby="fridas-tab">
	    	<h1 class="my-4">Fridas</h1>

		  	<div class="col-12">
					<div class="card border-info mb-3">
					  <div class="card-body">
					    <div class="row">

					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>
					    	<div class="col-12 col-md-6 mb-3">
					    		<div class="media">
									  <img class="mr-3 imgPerfil" src="/img/image.jpeg" alt="Mentor">
									  <div class="media-body">
									    <p>Nombre del mentor</p>
									    <p>mentor@gmail.com</p>
									    <p>Edad</p>
									  </div>
									</div>
					    	</div>

					    </div>
					  </div>
					</div>
				</div>
		  </div>
		</div>




    </div>
  </section>
</main>