<section class="headerLandingPage">
    <div class="colorFilter">
        <h1>
            Sé un Líder
        </h1>
    </div>
</section>
<section class="roleDescription">
    <p>
        Si tienes entre 12 y 18 años. Cursas actualmente secundaria, preparatoria o bachillerato.
        Si disfrutas trabajar en equipo y te gustaría aprender sobre desarrollo de aplicaciones móviles, entonces, puedes ser una Frida.
    </p>
</section>
