<div id="divContenedorPerfil" class="container">
  <div id="divContenido" class="container my-5 ">
    <div id="encabezadoPerfil" class="row">
      <h6 class="m-2">Mi Perfil</h6>
    </div>
    <form class="col-col-md-8">
    <div class="row">
      <div class="col-lg-4 col-md-6 ">
        <img class="m-2 text-center imgPerfil d-flex rounded mx-auto d-block my-2" src="/img/profile.jpg" alt="">
        <div class="row mx-auto d-block my-2">
          <label for="inputSubirFotoPerfil">Cambiar foto de perfil</label>
          <input id="inputSubirFotoPerfil"type="file" class="filestyle" data-text="Foto">
        </div>
        <hr>
      </div>
      <div class="col-lg-4 col-md-6 ">
        <div class="row mx-auto d-block m-2">
          <label for="inputNombrePerfil">Nombre</label>
          <input id="inputNombrePerfi" type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="row mx-auto d-block my-5">
          <label for="inputApPaternoPerfil">Apellido Paterno</label>
          <input id="inputApPaternoPerfil" type="text" class="form-control" placeholder="Apellido Paterno">
        </div>
        <div class="row mx-auto d-block my-5">
          <label for="inputApMaternoPerfil">Apellido Materno</label>
          <input id="inputApMaternoPerfil" type="text" class="form-control" placeholder="Apellido Materno">
        </div>

      </div>
      <div class="col-lg-4 col-md-6 ">
        

      </div>


    </div>
    </div>

  </div>
</div>
</main>
