<main class="container">
  <section>
    <div class="d-flex flex-row flex-wrap justify-content-center">
    	<div class="col-12 col-md-6 text-justify">
    		<h1>Código Frida</h1>
    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis illo numquam dolorum, maiores ullam totam distinctio itaque? Consectetur maiores nihil sint, ipsum ab deleniti! Similique animi sunt aliquid totam tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium odit quod, consequatur vero atque neque debitis ut sunt eius voluptates, dolorem mollitia. Temporibus reprehenderit facere neque doloremque aperiam, ad perspiciatis!</p>
    	</div>
    	<div class="col-12 col-md-6">
    		<img src="/img/image.jpeg" alt="Código Frida" class="img-fluid align-middle">
    	</div>
			<h2 class="my-4">Módulos</h2>
    	<div class="col-12">
    		<div class="row" id="divModulos">
    			

    		</div>
    	</div>
    </div>
  </section>
</main>